body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0;
    font-family: "Inconsolata", monospace;
    background-color: black;
    color: azure;
}
.card{
    padding: 0.5rem;
    background-color: #1a0035;
    margin: 1rem 0;
    margin-top: 1em;
    width: 20rem;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: column wrap;
}
.card-img{
    width: 12rem;
    height: auto;
    margin: 0;
}
.card-title{
    font-size: 2rem;
}
.card-desc{
    font-size: 1.5rem;
}
a{
    color: rgb(213, 255, 255);
}