body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inconsolata", monospace;
}
body{
    background-color: black;
    color: azure;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    padding: 0.5rem;
    background-color: #1a0035;
    margin: auto;
    width: 22%;
    height: auto;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px rgba(48, 48, 48, 0.5);
}
.card-img{
    width: 18vw;
    height: auto;
    margin: 0;
}
.card-img:hover{
    transition: all 0.6s;
}
.card-title{
    font-size: 1rem;
    background-color: #1a0035;
}
.card-desc{
    font-size: 1rem;
    background-color: #1a0035;
}
a{
    color: rgb(213, 255, 255);
}
h1{
    font-size: 3rem;
    display: block;
    text-align: center;
    animation: title 0.6s ease-in-out 0s infinite alternate both;
}
h5{
    font-size: 0.8rem;
    text-align: center;
}
.card:hover {
    transition: all 0.6s;
    transform: scale(1.1);
  }
img[alt="shen ze chuan"]:hover,
img[alt="qiao tian ya"]:hover,
img[alt="qi zhu yin"]:hover{
    transform: translateX(20px) scale(1.2);
}
img[alt="xiao chi ye"]:hover,
img[alt="yao wen yu"]:hover,
img[alt="hua xiang yi"]:hover{
    transform: translateX(-20px) scale(1.2);
}
img[alt="li jian ting"]:hover,
img[alt="li jian heng"]:hover{
    transform: rotate(360deg) scale(1.2);
}
img[alt="xue xiu zhuo"]:hover{
    transform: rotateY(360deg) scale(1.2);
}
img[alt="duo er lan"]:hover{
    transform: rotate3d(1,1,1,360deg) scale(1.5);
}
img[alt="fei sheng"]:hover{
    transform: skew(20deg,-20deg) scale(1.5);
}
img[alt="xiao fang xu"]:hover{
    transform: translate(-100px, -200px) scale(1.5);
}
@keyframes title{
    from {transform: skew(10deg,10deg);}
    to {transform: skew(-10deg,-10deg);}
}